<app-section [heading]="'about.h' | translate" [title]="'about.t' | translate" id="about">
	<div class="row">
		<div class="col">
			<div class="row mb-2">
				<p>
					{{ 'about.p1' | translate }}
				</p>
				<p>
					{{ 'about.p2' | translate }}
				</p>
			</div>
			<div class="row">
				<div class="col-6 col-lg-3">
					<app-services-one
						[title]="'about.abilities.1' | translate"
						colorClass="color-1"
						iconClass="fa-atlas"
					></app-services-one>
				</div>
				<div class="col-6 col-lg-3">
					<app-services-one
						[title]="'about.abilities.2' | translate"
						colorClass="color-2"
						iconClass="fa-server"
					></app-services-one>
				</div>
				<div class="col-6 col-lg-3">
					<app-services-one
						[title]="'about.abilities.3' | translate"
						colorClass="color-3"
						iconClass="fa-database"
					></app-services-one>
				</div>
				<div class="col-6 col-lg-3">
					<app-services-one
						[title]="'about.abilities.4' | translate"
						colorClass="color-4"
						iconClass="fa-desktop"
					></app-services-one>
				</div>
			</div>
		</div>
	</div>
</app-section>
