<app-section heading="about me" title="who am i?" id="about">
	<div class="row">
		<div class="col">
			<div class="row mb-2">
				<p>
					Soy una persona paciente, amable y me gusta trabajar en equipo. En el momento me
					encuentro en busqueda de un empleo como desarrollador de paginas web, estudio
					actualmente Ingenieria de Sistemas en el Instituto Tecnologico Metropolitano De
					Medellin (ITM).
				</p>
				<p>
					A demas soy perfeccionista con gusto por la actualización constante y el
					aprendizaje continuo, me encanta investigar y aprender por mi cuenta.
				</p>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<app-services-one
						title="Frontend"
						colorClass="color-1"
						iconClass="fa-atlas"
					></app-services-one>
				</div>
				<div class="col-lg-3">
					<app-services-one
						title="Backend"
						colorClass="color-2"
						iconClass="fa-server"
					></app-services-one>
				</div>
				<div class="col-lg-3">
					<app-services-one
						title="Software"
						colorClass="color-3"
						iconClass="fa-database"
					></app-services-one>
				</div>
				<div class="col-lg-3">
					<app-services-one
						title="Desktop"
						colorClass="color-4"
						iconClass="fa-desktop"
					></app-services-one>
				</div>
			</div>
		</div>
	</div>
</app-section>
