<app-section heading="about me" title="who am i?" id="about">
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio nihil beatae ipsa. Explicabo
		reiciendis aliquid incidunt numquam. Accusamus facere quasi, deserunt placeat ab laborum
		adipisci doloribus, repellat nam illum nesciunt. Lorem ipsum dolor sit amet consectetur
		adipisicing elit. Quos libero voluptatem consectetur iusto sapiente beatae quam suscipit
		odio veritatis! Incidunt ipsam doloribus quaerat nisi repellat nesciunt maiores perspiciatis
		veritatis qui! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur maxime
		excepturi mollitia quia, aliquam animi dolorum magni optio ea odio explicabo, molestiae
		quibusdam, id inventore velit cum ducimus beatae provident!
	</p>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio nihil beatae ipsa. Explicabo
		reiciendis aliquid incidunt numquam. Accusamus facere quasi, deserunt placeat ab laborum
		adipisci doloribus, repellat nam illum nesciunt. Lorem ipsum dolor sit amet consectetur
		adipisicing elit. Quos libero voluptatem consectetur iusto sapiente beatae quam suscipit
		odio veritatis! Incidunt ipsam doloribus quaerat nisi repellat nesciunt maiores perspiciatis
		veritatis qui! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur maxime
		excepturi mollitia quia, aliquam animi dolorum magni optio ea odio explicabo, molestiae
		quibusdam, id inventore velit cum ducimus beatae provident!
	</p>
</app-section>
