@import 'styles/variables.scss';

$heading-color: #999;

.section {
	padding: 2rem;
}

.heading {
	color: $heading-color;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
	letter-spacing: 5px;
	font-weight: 500;
	font-size: 10px;
}

.title {
	color: black;
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 4rem;
}

@include media-breakpoint-up(lg) {
	.section {
		padding: 4rem;
	}
}
