<form [id]="idForm" [formGroup]="contactForm" (ngSubmit)="submitEvent()" novalidate>
	<div class="form-group form-floating mb-3">
		<input
			tabindex="1"
			type="text"
			id="name"
			class="form-control"
			placeholder="Nombre"
			name="name"
			formControlName="name"
			[class.is-invalid]="name?.invalid && name?.touched"
		/>
		<label for="name">{{ 'contact.f.n' | translate }} <span>*</span></label>
		<ng-container *ngIf="name?.invalid && name?.touched; then nameError"></ng-container>
	</div>
	<div class="form-group form-floating mb-3">
		<input
			tabindex="2"
			type="text"
			id="email"
			class="form-control"
			placeholder="Email"
			name="email"
			formControlName="email"
			[class.is-invalid]="email?.touched && email?.invalid"
		/>
		<label for="email">{{ 'contact.f.e' | translate }} <span>*</span></label>
		<ng-container *ngIf="email?.touched && email?.invalid; then emailError"></ng-container>
	</div>
	<div class="form-group form-floating mb-3">
		<input
			tabindex="3"
			type="text"
			id="subject"
			class="form-control"
			placeholder="Asunto"
			name="subject"
			formControlName="subject"
			[class.is-invalid]="subject?.touched && subject?.invalid"
		/>
		<label for="subject">{{ 'contact.f.s' | translate }} <span>*</span></label>
		<div *ngIf="subject?.touched && subject?.invalid; then subjectError"></div>
	</div>
	<div class="form-group form-floating mb-3">
		<textarea
			tabindex="4"
			name="message"
			id="message"
			placeholder="Mensaje"
			class="form-control"
			formControlName="message"
			[class.is-invalid]="message?.touched && message?.invalid"
		></textarea>
		<label for="message">{{ 'contact.f.m' | translate }} <span>*</span></label>
		<div *ngIf="message?.touched && message?.invalid; then messageError"></div>
	</div>
</form>
<ng-template #nameError>
	<div class="invalid-feedback">
		<span *ngIf="name?.errors?.required">{{ 'contact.err.n.r' | translate }}</span>
		<span *ngIf="name?.errors?.minlength">
			{{ name?.errors?.minlength.actualLength }} {{ 'contact.err.gen.chars.of' | translate }}
			{{ name?.errors?.minlength.requiredLength }}
			{{ 'contact.err.gen.chars.chars' | translate }}
		</span>
		<span *ngIf="name?.errors?.maxlength">
			{{ 'contact.err.gen.max' | translate }} {{ name?.errors?.maxlength.requiredLength }}
		</span>
	</div>
</ng-template>
<ng-template #emailError>
	<div class="invalid-feedback">
		<span *ngIf="email?.errors?.required">{{ 'contact.err.e.r' | translate }}</span>
		<span *ngIf="email?.errors?.email">{{ 'contact.err.e.f' | translate }}</span>
	</div>
</ng-template>
<ng-template #subjectError>
	<div class="invalid-feedback">
		<span *ngIf="subject?.errors?.required">{{ 'contact.err.s.r' | translate }}</span>
		<span *ngIf="subject?.errors?.minlength">
			{{ subject?.errors?.minlength.actualLength }}
			{{ 'contact.err.gen.chars.of' | translate }}
			{{ subject?.errors?.minlength.requiredLength }}
			{{ 'contact.err.gen.chars.chars' | translate }}
		</span>
		<span *ngIf="subject?.errors?.maxlength">
			{{ 'contact.err.gen.max' | translate }} {{ subject?.errors?.maxlength.requiredLength }}
		</span>
	</div>
</ng-template>
<ng-template #messageError>
	<div class="invalid-feedback">
		<span *ngIf="message?.errors?.required">{{ 'contact.err.m.r' | translate }}</span>
		<span *ngIf="message?.errors?.minlength">
			{{ message?.errors?.minlength.actualLength }}
			{{ 'contact.err.gen.chars.of' | translate }}
			{{ message?.errors?.minlength.requiredLength }}
			{{ 'contact.err.gen.chars.chars' | translate }}
		</span>
		<span *ngIf="message?.errors?.maxlength">
			{{ 'contact.err.gen.max' | translate }} {{ message?.errors?.maxlength.requiredLength }}
		</span>
	</div>
</ng-template>
