@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Quicksand:wght@300;400;500&display=swap');

html,
body {
	height: 100%;
	font-family: 'Quicksand', Arial, sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
