<app-section
	[heading]="'education.h' | translate"
	[title]="'education.t' | translate"
	id="education"
>
	<div class="row">
		<div class="col">
			<div class="accordion" id="educationAccordion">
				<div class="accordion-item">
					<h2 class="accordion-header" id="systemsEngineer">
						<button
							class="accordion-button"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseOne"
							aria-expanded="true"
							aria-controls="collapseOne"
						>
							{{ 'education.ed.1.t' | translate }}
						</button>
					</h2>
					<div
						id="collapseOne"
						class="accordion-collapse collapse show"
						aria-labelledby="systemsEngineer"
						data-bs-parent="#educationAccordion"
					>
						<div class="accordion-body">
							<p>
								{{ 'education.ed.1.p' | translate }}
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="misionTic">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseTwo"
							aria-expanded="false"
							aria-controls="collapseTwo"
						>
							{{ 'education.ed.2.t' | translate }}
						</button>
					</h2>
					<div
						id="collapseTwo"
						class="accordion-collapse collapse"
						aria-labelledby="misionTic"
						data-bs-parent="#educationAccordion"
					>
						<div class="accordion-body">
							<p>
								{{ 'education.ed.2.p' | translate }}
								<a
									href="https://www.misiontic2022.gov.co."
									target="_blank"
									rel="noopener"
									>https://www.misiontic2022.gov.co</a
								>.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="highSchool">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseThree"
							aria-expanded="false"
							aria-controls="collapseThree"
						>
							{{ 'education.ed.3.t' | translate }}
						</button>
					</h2>
					<div
						id="collapseThree"
						class="accordion-collapse collapse"
						aria-labelledby="highSchool"
						data-bs-parent="#educationAccordion"
					>
						<div class="accordion-body">
							<p>
								{{ 'education.ed.3.p' | translate }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</app-section>
