<nav
	id="main-nav"
	class="navbar navbar-expand-lg fixed-top navbar-one"
	[ngClass]="{ 'glass-bg': glassbg }"
>
	<div class="container-fluid">
		<a class="navbar-brand" href="#home">
			<img src="assets/images/logo.svg" alt="Logo" />
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#main-nav-content"
			aria-controls="main-nav-content"
			aria-expanded="false"
			(click)="toggleGlassbg()"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="main-nav-content">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item m-1">
					<a class="nav-link" href="#home">{{ 'navbar.home' | translate }}</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link" href="#about-me">{{ 'navbar.about' | translate }}</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link btn btn-outline p-2" href="#">{{
						'navbar.resume' | translate
					}}</a>
				</li>
				<li class="nav-item m-1">
					<app-lang-form></app-lang-form>
				</li>
			</ul>
		</div>
	</div>
</nav>
