<p>
	//Objetivo profesional // Mi objetivo es iniciar en el mundo laboral como desarrollador de
	páginas web y/o aplicaciones de escritorio. //Experiencia // _ Desarrollador de página web _
	Semillero TAI Medellín 2020-10 - Actualmente Me dedico al desarrollo de una aplicación web con
	el stack MEAN. //Educación // _ Tercer Semestre _ Instituto Tecnológico Metropolitano Medellín,
	2020-02 - Actualmente en el tercer semestre de desarrollo de software. _ Bachiller _ Centro
	Educativo Autónomo Medellín, 2008 - 2019-11 //Habilidades // • Trabajo en equipo • Resolución de
	problemas • Hablar en público • Liderazgo • Manejar conflictos //Idiomas // • Ingles, Nivel
	intermedio //Proyectos // Estoy desarrollando actualmente una página web y aplicación de
	escritorio para administrar negocios de comidas con Angular, Express, MySql, Node.js, Electron,
	entre otras tecnologías. A su vez me encuentro en el desarrollo de una aplicación web para el
	semillero universitario TAI, este está siendo implementado con el stack MEAN(MongoDB, Express,
	Angular, Node.js) ademas de el uso de librerías como JWT para la autenticación o Multer para la
	subida de archivos al servidor. //Referencias // Diana Patricia Bedoya Ruiz, Docente, Contacto:
	dianabedoya4570correo.itm.edu.co //Secciones personalizadas // -Angular -Maquetación web con
	Html 5, Css, Sccs, Bootstrap, entre otros. -Responsive web design -Empleo de repositorios Git
	-MySql, MongoDB -Node.js con Express -Javascript / Typescript Siempre estoy muy abierto a
	aprender nuevas tecnologías tales como React, PWA, Firebase, entre otras.
</p>
<p>
	//Objetivo profesional // Mi objetivo es iniciar en el mundo laboral como desarrollador de
	páginas web y/o aplicaciones de escritorio. //Experiencia // _ Desarrollador de página web _
	Semillero TAI Medellín 2020-10 - Actualmente Me dedico al desarrollo de una aplicación web con
	el stack MEAN. //Educación // _ Tercer Semestre _ Instituto Tecnológico Metropolitano Medellín,
	2020-02 - Actualmente en el tercer semestre de desarrollo de software. _ Bachiller _ Centro
	Educativo Autónomo Medellín, 2008 - 2019-11 //Habilidades // • Trabajo en equipo • Resolución de
	problemas • Hablar en público • Liderazgo • Manejar conflictos //Idiomas // • Ingles, Nivel
	intermedio //Proyectos // Estoy desarrollando actualmente una página web y aplicación de
	escritorio para administrar negocios de comidas con Angular, Express, MySql, Node.js, Electron,
	entre otras tecnologías. A su vez me encuentro en el desarrollo de una aplicación web para el
	semillero universitario TAI, este está siendo implementado con el stack MEAN(MongoDB, Express,
	Angular, Node.js) ademas de el uso de librerías como JWT para la autenticación o Multer para la
	subida de archivos al servidor. //Referencias // Diana Patricia Bedoya Ruiz, Docente, Contacto:
	dianabedoya4570correo.itm.edu.co //Secciones personalizadas // -Angular -Maquetación web con
	Html 5, Css, Sccs, Bootstrap, entre otros. -Responsive web design -Empleo de repositorios Git
	-MySql, MongoDB -Node.js con Express -Javascript / Typescript Siempre estoy muy abierto a
	aprender nuevas tecnologías tales como React, PWA, Firebase, entre otras.
</p>
<p>
	//Objetivo profesional // Mi objetivo es iniciar en el mundo laboral como desarrollador de
	páginas web y/o aplicaciones de escritorio. //Experiencia // _ Desarrollador de página web _
	Semillero TAI Medellín 2020-10 - Actualmente Me dedico al desarrollo de una aplicación web con
	el stack MEAN. //Educación // _ Tercer Semestre _ Instituto Tecnológico Metropolitano Medellín,
	2020-02 - Actualmente en el tercer semestre de desarrollo de software. _ Bachiller _ Centro
	Educativo Autónomo Medellín, 2008 - 2019-11 //Habilidades // • Trabajo en equipo • Resolución de
	problemas • Hablar en público • Liderazgo • Manejar conflictos //Idiomas // • Ingles, Nivel
	intermedio //Proyectos // Estoy desarrollando actualmente una página web y aplicación de
	escritorio para administrar negocios de comidas con Angular, Express, MySql, Node.js, Electron,
	entre otras tecnologías. A su vez me encuentro en el desarrollo de una aplicación web para el
	semillero universitario TAI, este está siendo implementado con el stack MEAN(MongoDB, Express,
	Angular, Node.js) ademas de el uso de librerías como JWT para la autenticación o Multer para la
	subida de archivos al servidor. //Referencias // Diana Patricia Bedoya Ruiz, Docente, Contacto:
	dianabedoya4570correo.itm.edu.co //Secciones personalizadas // -Angular -Maquetación web con
	Html 5, Css, Sccs, Bootstrap, entre otros. -Responsive web design -Empleo de repositorios Git
	-MySql, MongoDB -Node.js con Express -Javascript / Typescript Siempre estoy muy abierto a
	aprender nuevas tecnologías tales como React, PWA, Firebase, entre otras.
</p>
<p>
	//Objetivo profesional // Mi objetivo es iniciar en el mundo laboral como desarrollador de
	páginas web y/o aplicaciones de escritorio. //Experiencia // _ Desarrollador de página web _
	Semillero TAI Medellín 2020-10 - Actualmente Me dedico al desarrollo de una aplicación web con
	el stack MEAN. //Educación // _ Tercer Semestre _ Instituto Tecnológico Metropolitano Medellín,
	2020-02 - Actualmente en el tercer semestre de desarrollo de software. _ Bachiller _ Centro
	Educativo Autónomo Medellín, 2008 - 2019-11 //Habilidades // • Trabajo en equipo • Resolución de
	problemas • Hablar en público • Liderazgo • Manejar conflictos //Idiomas // • Ingles, Nivel
	intermedio //Proyectos // Estoy desarrollando actualmente una página web y aplicación de
	escritorio para administrar negocios de comidas con Angular, Express, MySql, Node.js, Electron,
	entre otras tecnologías. A su vez me encuentro en el desarrollo de una aplicación web para el
	semillero universitario TAI, este está siendo implementado con el stack MEAN(MongoDB, Express,
	Angular, Node.js) ademas de el uso de librerías como JWT para la autenticación o Multer para la
	subida de archivos al servidor. //Referencias // Diana Patricia Bedoya Ruiz, Docente, Contacto:
	dianabedoya4570correo.itm.edu.co //Secciones personalizadas // -Angular -Maquetación web con
	Html 5, Css, Sccs, Bootstrap, entre otros. -Responsive web design -Empleo de repositorios Git
	-MySql, MongoDB -Node.js con Express -Javascript / Typescript Siempre estoy muy abierto a
	aprender nuevas tecnologías tales como React, PWA, Firebase, entre otras.
</p>
<p>
	//Objetivo profesional // Mi objetivo es iniciar en el mundo laboral como desarrollador de
	páginas web y/o aplicaciones de escritorio. //Experiencia // _ Desarrollador de página web _
	Semillero TAI Medellín 2020-10 - Actualmente Me dedico al desarrollo de una aplicación web con
	el stack MEAN. //Educación // _ Tercer Semestre _ Instituto Tecnológico Metropolitano Medellín,
	2020-02 - Actualmente en el tercer semestre de desarrollo de software. _ Bachiller _ Centro
	Educativo Autónomo Medellín, 2008 - 2019-11 //Habilidades // • Trabajo en equipo • Resolución de
	problemas • Hablar en público • Liderazgo • Manejar conflictos //Idiomas // • Ingles, Nivel
	intermedio //Proyectos // Estoy desarrollando actualmente una página web y aplicación de
	escritorio para administrar negocios de comidas con Angular, Express, MySql, Node.js, Electron,
	entre otras tecnologías. A su vez me encuentro en el desarrollo de una aplicación web para el
	semillero universitario TAI, este está siendo implementado con el stack MEAN(MongoDB, Express,
	Angular, Node.js) ademas de el uso de librerías como JWT para la autenticación o Multer para la
	subida de archivos al servidor. //Referencias // Diana Patricia Bedoya Ruiz, Docente, Contacto:
	dianabedoya4570correo.itm.edu.co //Secciones personalizadas // -Angular -Maquetación web con
	Html 5, Css, Sccs, Bootstrap, entre otros. -Responsive web design -Empleo de repositorios Git
	-MySql, MongoDB -Node.js con Express -Javascript / Typescript Siempre estoy muy abierto a
	aprender nuevas tecnologías tales como React, PWA, Firebase, entre otras.
</p>
<p>
	//Objetivo profesional // Mi objetivo es iniciar en el mundo laboral como desarrollador de
	páginas web y/o aplicaciones de escritorio. //Experiencia // _ Desarrollador de página web _
	Semillero TAI Medellín 2020-10 - Actualmente Me dedico al desarrollo de una aplicación web con
	el stack MEAN. //Educación // _ Tercer Semestre _ Instituto Tecnológico Metropolitano Medellín,
	2020-02 - Actualmente en el tercer semestre de desarrollo de software. _ Bachiller _ Centro
	Educativo Autónomo Medellín, 2008 - 2019-11 //Habilidades // • Trabajo en equipo • Resolución de
	problemas • Hablar en público • Liderazgo • Manejar conflictos //Idiomas // • Ingles, Nivel
	intermedio //Proyectos // Estoy desarrollando actualmente una página web y aplicación de
	escritorio para administrar negocios de comidas con Angular, Express, MySql, Node.js, Electron,
	entre otras tecnologías. A su vez me encuentro en el desarrollo de una aplicación web para el
	semillero universitario TAI, este está siendo implementado con el stack MEAN(MongoDB, Express,
	Angular, Node.js) ademas de el uso de librerías como JWT para la autenticación o Multer para la
	subida de archivos al servidor. //Referencias // Diana Patricia Bedoya Ruiz, Docente, Contacto:
	dianabedoya4570correo.itm.edu.co //Secciones personalizadas // -Angular -Maquetación web con
	Html 5, Css, Sccs, Bootstrap, entre otros. -Responsive web design -Empleo de repositorios Git
	-MySql, MongoDB -Node.js con Express -Javascript / Typescript Siempre estoy muy abierto a
	aprender nuevas tecnologías tales como React, PWA, Firebase, entre otras.
</p>
<p>
	//Objetivo profesional // Mi objetivo es iniciar en el mundo laboral como desarrollador de
	páginas web y/o aplicaciones de escritorio. //Experiencia // _ Desarrollador de página web _
	Semillero TAI Medellín 2020-10 - Actualmente Me dedico al desarrollo de una aplicación web con
	el stack MEAN. //Educación // _ Tercer Semestre _ Instituto Tecnológico Metropolitano Medellín,
	2020-02 - Actualmente en el tercer semestre de desarrollo de software. _ Bachiller _ Centro
	Educativo Autónomo Medellín, 2008 - 2019-11 //Habilidades // • Trabajo en equipo • Resolución de
	problemas • Hablar en público • Liderazgo • Manejar conflictos //Idiomas // • Ingles, Nivel
	intermedio //Proyectos // Estoy desarrollando actualmente una página web y aplicación de
	escritorio para administrar negocios de comidas con Angular, Express, MySql, Node.js, Electron,
	entre otras tecnologías. A su vez me encuentro en el desarrollo de una aplicación web para el
	semillero universitario TAI, este está siendo implementado con el stack MEAN(MongoDB, Express,
	Angular, Node.js) ademas de el uso de librerías como JWT para la autenticación o Multer para la
	subida de archivos al servidor. //Referencias // Diana Patricia Bedoya Ruiz, Docente, Contacto:
	dianabedoya4570correo.itm.edu.co //Secciones personalizadas // -Angular -Maquetación web con
	Html 5, Css, Sccs, Bootstrap, entre otros. -Responsive web design -Empleo de repositorios Git
	-MySql, MongoDB -Node.js con Express -Javascript / Typescript Siempre estoy muy abierto a
	aprender nuevas tecnologías tales como React, PWA, Firebase, entre otras.
</p>
