<app-section [heading]="'contact.h' | translate" [title]="'contact.t' | translate" id="contact">
	<div class="row">
		<div class="col-lg-5">
			<div class="info">
				<div class="icon">
					<i class="fas fa-at"></i>
				</div>
				<div class="text">
					<a href="mailto:contactMeJuanDa273@gmail.com">contactMeJuanDa273@gmail.com</a>
				</div>
			</div>
			<div class="info">
				<div class="icon">
					<i class="fas fa-map-marked-alt"></i>
				</div>
				<div class="text">
					<a href="https://www.google.com/maps/place/Medellin+Colombia" target="_blank">
						{{ 'contact.info.a' | translate }}
					</a>
				</div>
			</div>
			<div class="info">
				<div class="icon">
					<i class="fas fa-phone"></i>
				</div>
				<div class="text">
					<a href="tel:+573126577911">+57 312 6577911</a>
				</div>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="row">
				<div class="container">
					<ng-container *ngIf="!loading; then form; else loadingForm"></ng-container>
				</div>
			</div>
		</div>
	</div>
</app-section>
<ng-template #form>
	<ng-container *ngIf="sentEmail; then message"></ng-container>
	<app-contact-form
		idForm="contactMe"
		(onSubmitEvent)="sendEmail()"
		(invalidForm)="invalidForm = $event"
	></app-contact-form>
	<button type="submit" class="btn btn-send" [disabled]="invalidForm" form="contactMe">
		{{ 'contact.mes.send' | translate }}
	</button>
</ng-template>
<ng-template #loadingForm>
	<div class="d-flex justify-content-center">
		<div class="spinner-border text-primary loading" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
</ng-template>
<ng-template #message>
	<div class="alert" [ngClass]="{ 'alert-danger': error, 'alert-success': !error }" role="alert">
		{{ (error ? 'contact.mes.err' : 'contact.mes.sent') | translate }}
	</div>
</ng-template>
