<app-section heading="get in touch" title="contact" id="contact">
	<div class="row">
		<div class="col-md-5">
			<div class="info">
				<div class="icon">
					<i class="far fa-envelope"></i>
				</div>
				<div class="text m-line-1">
					<p>juandavid200301@hotmail.com</p>
				</div>
			</div>
			<div class="info">
				<div class="icon">
					<i class="far fa-map"></i>
				</div>
				<div class="text m-line-2">
					<p>Calle 105 #64 e 41</p>
					<p>Medellin, Colombia.</p>
				</div>
			</div>
			<div class="info">
				<div class="icon">
					<i class="fas fa-phone"></i>
				</div>
				<div class="text m-line-1">
					<p>+57 312 6577911</p>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="row">
				<div class="container">
					<app-contact-form></app-contact-form>
				</div>
			</div>
		</div>
	</div>
</app-section>
