<section id="contact" class="section">
	<div class="container">
		<div class="row h-100 flex-row-reverse">
			<div class="col-12 col-lg-6 text-center">
				<h2 id="title" class="title">{{ 'contact.title' | translate }}</h2>
			</div>
			<div class="col-12 col-lg-6 pb-5 p-lg-0">
				<div class="row">
					<div class="col-12">
						<h3 id="subtitle">{{ 'contact.subtitle' | translate }}</h3>
						<p id="description">{{ 'contact.desc' | translate }}</p>
					</div>
					<div class="col-12">
						<a class="btn btn-outline-green" href="mailto:juandavid200301@hotmail.com">
							{{ 'contact.email' | translate }}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
