<section id="experience" class="section">
	<div class="container-xxl">
		<div class="row h-100 p-sm-5 p-lg-3">
			<div class="col-12 text-center pb-sm-5 pb-lg-3">
				<h2 id="title" class="title">{{ 'experience.title' | translate }}</h2>
			</div>
			<div class="col-12">
				<div class="row px-sm-5">
					<div class="col-12 pb-5 pb-lg-3 subtitle">
						<h3>{{ 'experience.subtitle.1' | translate }}</h3>
					</div>
					<div class="col-12 col-md-6 pb-5 pb-md-0">
						<a class="card m-auto" href="https://javierpropiedades.com" target="_blank">
							<img src="assets/images/projects/1.webp" class="card-img-top" alt="" />
							<div class="card-body p-4">
								<h5 class="card-title">{{ 'experience.1.title' | translate }}</h5>
								<p class="card-text">javierpropiedades.com</p>
							</div>
						</a>
					</div>
					<div class="col-12 col-md-6">
						<a
							class="card m-auto"
							href="https://github.com/JuanDa237/Cash_Register"
							target="_blank"
						>
							<img src="assets/images/projects/2.webp" class="card-img-top" alt="" />
							<div class="card-body p-4">
								<h5 class="card-title">{{ 'experience.2.title' | translate }}</h5>
								<p class="card-text">
									<i class="fa-brands fa-github"></i>/Cash_Register
								</p>
							</div>
						</a>
					</div>
				</div>
				<div class="row px-sm-5 pb-5">
					<div class="col-12 subtitle py-5 py-lg-4">
						<h3>{{ 'experience.subtitle.2' | translate }}</h3>
					</div>
					<div class="col-12 col-md-6 col-lg-4 pb-5 pb-lg-0">
						<a
							class="card m-auto"
							href="https://juangaviria.herokuapp.com"
							target="_blank"
						>
							<img src="assets/images/projects/3.webp" class="card-img-top" alt="" />
							<div class="card-body p-4">
								<h5 class="card-title">{{ 'experience.3.title' | translate }}</h5>
								<p class="card-text">juangaviria.herokuapp.com</p>
							</div>
						</a>
					</div>
					<div class="col-12 col-md-6 col-lg-4 pb-5 pb-lg-0">
						<a
							class="card m-auto"
							href="https://github.com/JuanDa237/resume-html-template"
							target="_blank"
						>
							<img src="assets/images/projects/4.webp" class="card-img-top" alt="" />
							<div class="card-body p-4">
								<h5 class="card-title">{{ 'experience.4.title' | translate }}</h5>
								<p class="card-text">
									<i class="fa-brands fa-github"></i>/resume-html-template
								</p>
							</div>
						</a>
					</div>
					<div class="col-12 col-md-12 col-lg-4">
						<a
							class="card m-auto"
							href="https://github.com/JuanDa237/dictionary-of-neologisms"
							target="_blank"
						>
							<img src="assets/images/projects/5.webp" class="card-img-top" alt="" />
							<div class="card-body p-4">
								<h5 class="card-title">{{ 'experience.5.title' | translate }}</h5>
								<p class="card-text">
									<i class="fa-brands fa-github"></i>/dictionary-of-neologisms
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
