@import 'styles/variables.scss';

// Adjust Layout
#experience {
	background-color: $blue-1;
}

.title {
	color: $white;
	&::before {
		bottom: -10px;
	}
	&::after {
		bottom: -5px;
	}
}

// New styles

.subtitle {
	text-align: center;
	color: $white;
	h3 {
		width: 100%;
		margin: 0;
		font-weight: 900;
	}
}

.card {
	width: 18rem;
	text-decoration: none;
	text-align: start;
	color: $black;
	border: 0;
	.card-img-top {
		box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 15%) !important;
	}
	.card-body {
		.card-text {
			color: $blue-1;
		}
	}
}
