@import 'styles/variables.scss';

#title {
	display: inline-block;
	font-size: 3.5rem;
	font-weight: 800;
	color: $white;
	text-align: center;
	position: relative;
	margin: 3.5rem 0;
	&::before {
		content: '';
		display: block;
		background-color: $blue-3;
		width: 50%;
		height: 6px;
		border-radius: 5px;
		position: absolute;
		bottom: -10px;
	}
	&::after {
		content: '';
		display: block;
		background-color: $blue-3;
		width: 50%;
		height: 6px;
		border-radius: 5px;
		position: absolute;
		bottom: -5px;
		right: 0;
	}
}

.subtitle {
	text-align: center;
	color: $white;
	h3 {
		width: 100%;
		margin: 0;
		font-weight: 900;
	}
}

.card {
	width: 18rem;
	text-decoration: none;
	text-align: start;
	color: $black;
	border: 0;
	.card-img-top {
		box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 15%) !important;
	}
	.card-body {
		.card-text {
			color: $blue-1;
		}
	}
}

#experience {
	width: 100%;
	height: fit-content;
	scroll-snap-align: start;
	background-color: $blue-1;
	overflow: hidden;
}

@include media-breakpoint-up(sm) {
	#experience {
		min-height: 760px;
	}

	#title {
		font-size: 4.5rem;
		padding: 0;
		margin: 0;
	}
}
