// Default behavior for the sidenav layout
#layoutSidenav {
	display: flex;
	#layoutSidenav_nav {
		flex-basis: $sidenav-base-width;
		flex-shrink: 0;
		transition: transform 0.15s ease-in-out;
		z-index: $zindex-sidenav;
		width: $sidenav-base-width;
		height: 100%;
		// By default the sidenav will be moved off-canvas
		transform: translateX(-$sidenav-base-width);
	}
	// Wraps the content when using the sidenav layout
	#layoutSidenav_content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width: 0;
		flex-grow: 1;
		min-height: 100vh;
		margin-left: -$sidenav-base-width;
		padding-left: $sidenav-base-width;
	}
}

// Default behavior for the sidenav collapse
.sidenav-toggled {
	#layoutSidenav {
		#layoutSidenav_nav {
			transform: translateX(0);
		}
		#layoutSidenav_content {
			float: right;
			transform: translateX($sidenav-base-width);
		}
	}
}

// Responsive styling for the sidenav layout on larger screens
@include media-breakpoint-up(lg) {
	#layoutSidenav {
		// If you want to toggle the sidenav in breakpoint
		#layoutSidenav_nav {
			transform: translateX(0); // -$sidenav-base-width
		}
		#layoutSidenav_content {
			margin-left: 0; // padding 0 too
		}
	}
	.sidenav-toggled {
		#layoutSidenav {
			#layoutSidenav_nav {
				transform: translateX(0);
			}
			#layoutSidenav_content {
				margin-left: 0;
				padding-left: 0;
			}
		}
	}
}
