<section id="about-me">
	<div class="row h-100">
		<div class="col-12 col-xl-4 center">
			<h2 id="title">{{ 'about.about' | translate }}</h2>
		</div>
		<div class="col-12 col-xl-4 center-xl">
			<p id="description">
				{{ 'about.1' | translate }}. <br /><br />
				{{ 'about.2' | translate }}. <br /><br />
				{{ 'about.3' | translate }}.
			</p>
		</div>
		<div class="col-12 col-xl-4 center-xl">
			<div id="img-wrapper">
				<div id="border-line"></div>
				<img id="me" src="assets/images/me.webp" alt="Juan Gaviria" />
			</div>
		</div>
	</div>
</section>
