<section id="about-me">
	<div class="row h-100">
		<div class="col-12 col-xl-4 center">
			<h2 id="title">About Me</h2>
		</div>
		<div class="col-12 col-xl-4 center-xl">
			<p id="description">
				Mi interest in web development started back at finals of 2019 but I liked to play
				with programming at school due to videogames. Now I’m looking to start as a web
				developer.<br /><br />
				I built some personal projects and a property sales web, almost all of them are made
				with the stack MEAN (MongoDB, Express, Angular, Node.js) because it’s my favorite
				but I always like to try new technologies.<br /><br />
				I’m a very self-taught person and my hobbies are swimming, cycling and video games.
			</p>
		</div>
		<div class="col-12 col-xl-4 center-xl">
			<div id="img-wrapper">
				<div id="border-line"></div>
				<img id="me" src="../../../assets/images/me.webp" alt="Juan Gaviria" />
			</div>
		</div>
	</div>
</section>
