<app-section heading="my specialty" title="my skills" id="skills">
	<div class="row">
		<div class="col-12">
			<div class="row text-center">
				<div class="col-md-6 col-xl-3 mb-5 mt-3">
					<app-services-two title="angular" icon="fab fa-angular" colorClass="color-1">
						Me encanta desarrollar paginas web con el framework angular, es muy agil y
						verstalil. Tengo la capacidad de crear responsive web desings y usualmente
						uso scss para los estilos.
					</app-services-two>
				</div>
				<div class="col-md-6 col-xl-3 mb-5 mt-3">
					<app-services-two title="node js" icon="fab fa-node-js" colorClass="color-2">
						Amo crear el servidor de mis aplicaciones con Node, ademas lo uso en
						conjunto con Express, Multer, JWT, entre otras. Para poder crear
						aplicaciones mas complejas como con subida de archivos y autenticaion.
					</app-services-two>
				</div>
				<div class="col-md-6 col-xl-3 mb-5 mt-3">
					<app-services-two title="express" icon="fab fa-etsy" colorClass="color-3">
						El framework Express me ayuda a crear mi backend de forma sencilla y rapida,
						me gusta desarrollar mi backend Express usando TypeScript, pero tambien
						tengo la capcidad de hacerlo con JavaScript.
					</app-services-two>
				</div>
				<div class="col-md-6 col-xl-3 mb-5 mt-3">
					<app-services-two title="database" icon="fas fa-database" colorClass="color-4">
						Para mis aplicaiones suelo usar tanto MySql como MongoDB, tengo la capacidad
						de usarlos en conjunto con Node y Express para hacer que los datos perduren
						en el tiempo.
					</app-services-two>
				</div>
			</div>
		</div>
		<div class="col-12">
			<p>
				Las tecnologias anteriormente mencionadas son mis herramientas principales para
				desarollar web y tengo varios proyectos donde las uso, a demas tambien para realizar
				mis proyectos uso las siguientes tecnologias:
			</p>
		</div>
	</div>
</app-section>
