<app-section [heading]="'skills.h' | translate" [title]="'skills.t' | translate" id="skills">
	<div class="row mt-3">
		<div class="col-12">
			<div class="row text-center">
				<div class="col-md-6 col-xl-3 mb-5 mt-3">
					<app-services-two
						[title]="'skills.a.t' | translate"
						icon="fab fa-angular"
						colorClass="color-1"
					>
						{{ 'skills.a.p' | translate }}
					</app-services-two>
				</div>
				<div class="col-md-6 col-xl-3 mb-5 mt-3">
					<app-services-two
						[title]="'skills.n.t' | translate"
						icon="fab fa-node-js"
						colorClass="color-2"
					>
						{{ 'skills.n.p' | translate }}
					</app-services-two>
				</div>
				<div class="col-md-6 col-xl-3 mb-5 mt-3">
					<app-services-two
						[title]="'skills.e.t' | translate"
						icon="fab fa-etsy"
						colorClass="color-3"
					>
						{{ 'skills.e.p' | translate }}
					</app-services-two>
				</div>
				<div class="col-md-6 col-xl-3 mb-5 mt-3">
					<app-services-two
						[title]="'skills.db.t' | translate"
						icon="fas fa-database"
						colorClass="color-4"
					>
						{{ 'skills.db.p' | translate }}
					</app-services-two>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="row">
				<div class="col-12 mb-2">
					<p>
						{{ 'skills.p' | translate }}
					</p>
				</div>
				<div class="col-md-6">
					<app-progress-bar
						title="html 5, css, javascript"
						color="1"
						[percent]="100"
					></app-progress-bar>
				</div>
				<div class="col-md-6">
					<app-progress-bar
						[title]="'skills.tec.r' | translate"
						color="2"
						[percent]="86"
					></app-progress-bar>
				</div>
				<div class="col-md-6">
					<app-progress-bar title="git" color="3" [percent]="92"></app-progress-bar>
				</div>
				<div class="col-md-6">
					<app-progress-bar
						[title]="'skills.tec.a' | translate"
						color="4"
						[percent]="72"
					></app-progress-bar>
				</div>
				<div class="col-md-6">
					<app-progress-bar
						title="JWT, AWS S3"
						color="5"
						[percent]="82"
					></app-progress-bar>
				</div>
				<div class="col-md-6">
					<app-progress-bar
						title="typescript"
						color="6"
						[percent]="90"
					></app-progress-bar>
				</div>
			</div>
		</div>
	</div>
</app-section>
