<nav class="sidenav accordion" id="sidenav">
	<div class="sidenav-menu text-center">
		<div class="author mb-2">
			<img class="" src="assets/images/author.jpeg" alt="Author Image" />
			<h1>Juan David Gaviria</h1>
			<span>Fullstack Developer in Colombia</span>
		</div>
		<div class="nav">
			<ul>
				<li class="active">Home</li>
				<li>About</li>
				<li>Services</li>
				<li>Skills</li>
				<li>Education</li>
				<li>Experience</li>
				<li>Work</li>
				<li>Contact</li>
			</ul>
		</div>
	</div>
</nav>
