<nav id="sidenav">
	<div class="row mt-5">
		<a class="btn btn-float" (click)="toggleSideNav()">
			<i class="fa fa-bars" title="Deploy Or Close"></i>
		</a>
		<div class="col text-center">
			<div class="author">
				<img src="assets/images/author.jpeg" alt="Author Image" />
				<h1>Juan David Gaviria Correa</h1>
				<span><a href="#">Fullstack Developer</a> in Colombia</span>
			</div>
			<div class="nav">
				<ul class="m-0 p-0">
					<li class="active"><a href="#" data-nav-section="home">home</a></li>
					<li><a href="#" data-nav-section="about">about</a></li>
					<li><a href="#" data-nav-section="services">services</a></li>
					<li><a href="#" data-nav-section="skills">skills</a></li>
					<li><a href="#" data-nav-section="education">education</a></li>
					<li><a href="#" data-nav-section="experience">experience</a></li>
					<li><a href="#" data-nav-section="work">work</a></li>
					<li><a href="#" data-nav-section="contact">contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
