@import 'styles/variables.scss';

$link: #bdbdbd;

#sidenav {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-wrap: nowrap;
	background-color: $neutral;
	.btn-float {
		position: fixed;
		transform: translateX($sidenav-base-width + 5px);
		top: 5px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		background-color: transparent;
		text-align: center;
		cursor: pointer;
		i {
			color: black;
			margin-top: 1.4rem;
		}
	}
}

.sidenav-main {
	flex-grow: 1;
	overflow-y: auto;
	#author {
		text-align: center;
		margin-bottom: 2rem;
		img {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			margin-bottom: 1.5rem;
		}
		h1 {
			color: black;
			font-family: 'Playfair Display', serif;
			font-size: 27px;
			font-weight: 500;
		}
		span {
			color: $text-color;
			a {
				text-decoration: none;
			}
		}
	}
	#sidenav-nav {
		flex-direction: column;
		text-align: center;
		ul {
			width: 100%;
			list-style: none;
			li {
				margin-bottom: 0.6rem;
				text-transform: uppercase;
				a {
					color: $text-color;
					padding: 10px 0;
					text-decoration: none;
					position: relative;
					&::before {
						content: '';
						position: absolute;
						height: 1px;
						left: 0;
						right: 0;
						width: 0;
						bottom: 7px;
						background-color: $primary;
						transition: all 0.2s ease-in-out;
					}
				}
				&.active {
					a {
						color: $primary;
						&::before {
							width: 100%;
						}
					}
				}
				&:hover {
					a {
						color: black;
						&::before {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

.sidenav-footer {
	padding: 0.75rem;
	background-color: $footer;
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline;
			margin: 0 10px;
			a {
				display: inline-block;
				width: 60px;
				height: 60px;
				font-size: 22px;
				text-align: center;
				border-radius: 50%;
				background-color: $link;
				color: white;
				i {
					color: white;
					margin: 0;
					line-height: 60px;
					transition: all 0.8s;
				}
				&:hover {
					i {
						transform: rotate(360deg);
						transition: all 0.4s;
					}
				}
			}
		}
	}
}

.sidenav-footer {
	ul > li > a {
		&.github:hover {
			background-color: $github;
		}
		&.linkedIn:hover {
			background-color: $linkedIn;
		}
		&.hover {
			color: white;
		}
	}
}

@include media-breakpoint-up(lg) {
	#sidenav {
		.btn-float {
			display: none;
			cursor: none;
		}
	}
}
