@import 'styles/variables.scss';

#sidenav {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-wrap: nowrap;
	background-color: $neutral;
	.btn-float {
		position: fixed;
		transform: translateX($sidenav-base-width + 20px);
		top: 5px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		background-color: transparent;
		text-align: center;
		cursor: pointer;
		i {
			color: black;
			margin-top: 1.4rem;
		}
	}
	.author {
		text-align: center;
		margin-bottom: 2rem;
		img {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			margin-bottom: 1.5rem;
		}
		h1 {
			color: black;
			font-family: serif;
			font-size: 27px;
		}
		span {
			color: $text-color;
			a {
				text-decoration: none;
			}
		}
	}
	.nav {
		flex-direction: column;
		text-align: center;
		ul {
			width: 100%;
			list-style: none;
			li {
				margin-bottom: 0.6rem;
				text-transform: uppercase;
				a {
					color: $text-color;
					padding: 10px 0;
					text-decoration: none;
					position: relative;
					&::before {
						content: '';
						position: absolute;
						height: 1px;
						left: 0;
						right: 0;
						width: 0;
						bottom: 7px;
						background-color: $primary;
						transition: all 0.2s ease-in-out;
					}
				}
				&.active {
					a {
						color: $primary;
						&::before {
							width: 100%;
						}
					}
				}
				&:hover {
					a {
						color: black;
						&::before {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	#sidenav {
		.btn-float {
			display: none;
			cursor: none;
		}
	}
}
