<footer class="footer py-4 mt-4">
	<div class="container-fluid">
		<div class="row">
			<div class="col-10">
				<app-lang-form></app-lang-form>
			</div>
			<div class="col-2 text-end">
				<a class="icon-up" href="#about">
					<i class="fas fa-arrow-up"></i>
				</a>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col copy">
				<div class="text d-block text-muted small">
					{{ 'footer.by' | translate }}: Juan David Gaviria Correa.
				</div>
			</div>
		</div>
	</div>
</footer>
