@import 'styles/variables.scss';

.footer {
	background-color: $footer;
	.icon-up {
		display: inline-block;
		border-style: solid;
		border-radius: 50%;
		text-align: center;
		width: 40px;
		height: 40px;
		i {
			margin: 0;
			line-height: 35px;
		}
	}
	.copy {
		border-top: 2px solid $gray-500;
		.text {
			padding-top: 0.5rem;
		}
	}
}
